<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>

<body>
    <div>
        <h1>To Do List</h1>
        {% if message %}
        {{message}}
        {% endif %}

        <form action="/add" method="post">
            <div>
                <label>Todo task</label>
                <input type="text" name="task" placeholder="Enter a Task">
                <button type="submit">Add a Task</button>
            </div>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div>
            <p>{{todo.id }} | {{ todo.task }}</p>

            {% if todo.complete == False %}
            <span>Not Complete</span>
            {% else %}
            <span>Completed</span>
            {% endif %}

            <a href="/update/{{ todo.id }}">Update</a>
            <a href="/delete/{{ todo.id }}">Delete</a>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>

</html>